In [1]:
#|Задача 40: Работать с файлом california_housing_train.csv, который находится в папке sample_data. 
# Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)

import pandas as pd

df = pd.read_csv("california_housing_test.csv")

df[df['population']<=500]  # выборка домов с кол-вол людей меньше или равно 500

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
15,-117.99,33.81,42.0,161.0,40.0,157.0,50.0,2.2000,153100.0
16,-120.81,37.53,15.0,570.0,123.0,189.0,107.0,1.8750,181300.0
34,-118.32,33.94,38.0,1067.0,170.0,499.0,169.0,4.6389,183800.0
51,-119.42,35.97,21.0,554.0,121.0,426.0,122.0,2.3516,47500.0
...,...,...,...,...,...,...,...,...,...
2929,-117.23,32.74,16.0,735.0,139.0,299.0,134.0,4.6354,179200.0
2947,-123.02,38.81,35.0,956.0,213.0,488.0,215.0,3.0250,140600.0
2960,-117.89,33.60,36.0,1496.0,247.0,441.0,203.0,7.8164,500001.0
2992,-122.33,37.39,52.0,573.0,102.0,232.0,92.0,6.2263,500001.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0

In [2]:
print(df['median_house_value'].mean())  # отображение среднего значения по столбцу "median_house_value"

205846.275